* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.navbar {
  background-color: #ffebcd;
  font-size: 2rem;
  padding: 1em;
}

.fa-leaf {
  color: #008000;
  margin-right: 0.5em;
}

.habit-number {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: #008000;
  color: white;
  border-radius: 50%;
}

.add-button {
  background-color: #008000;
  font-size: 1.5rem;
  padding: 0.3em 0.5em;
  color: white;
  height: 100%;
}

.add-input {
  font-size: 2rem;
  margin: 2rem 1rem;
}

.reset-button {
  margin: 10px;
  background-color: #008000;
  font-size: 1.5rem;
  color: white;
  width: 10rem;
  height: 2rem;
}
